body {
    font-family: Serif;
    background-color: #e6f7ff;
}

.navbar {
    background-color: #0d639c;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 30px;
}

.navbar-brand img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.nav-link {
    color: #ffffff !important;
    font-size: 18px;
}

.nav-link img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

h2 {
    color: #005073;
}

.table {
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #005073;
    border-color: #005073;
}

.btn-2{
    background-color: #0aaff5;
    border-color: #005073; 
}
.btn-2-1{
    background-color: #00ff59;
    border-color: #005073; 
}

.boton-desplegable{
    height: 35px;
    width: 35px;
    font-size: 15px;
    border-radius: 5px;
}
.btn-editar{
    background-color: #85a0c8;
    border-color: #005073; 
}
.btn-eliminar{
    background-color: #c80e0e;
    border-color: #005073; 

}