# Como crear e instalar las dependencias en el entorno virtual

    #conda create --name (nombre) python=3.12 #Nombre sin parentesis
    #conda activate (nombre)
#Luego que activemos el entorno, y estemos seguro que se esta utilizando, utilizamos el sigueinte comando para instalar las dependencias del proyecto

    #pip install -r requirements.txt

#Ojo que el terminal debe estar apuntando en la ubicacion del archivo requirements.txt

#### Se deben agregar todas las dependencias - librerias que se esten utilizando en el proyedcto.

django
psycopg2
pillow

