{% extends './base.html' %}

{% load static %}

{% block title %} Gestionar Campos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-auto mt-3">
        <a class="btn btn-custom btn-sm" href="{% url 'director:ver_formularios' %}">Volver a Listado de Formularios</a>
    </div>
    <div class="col-md-4 mt-3 text-center py-5">
        <div class="card">
            <div class="card-header">
                <span>Gestionar Campos del Formulario: {{ formulario.nombre }}</span>
            </div>
            <div class="card-body">
                <form method="POST" id="formAgregarCampo">
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        <label for="nombre_campo">Nombre del Campo:</label>
                        <input type="text" name="nombre_campo" id="nombre_campo" class="form-control" placeholder="Ingrese un nombre para su campo" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="tipo_campo">Tipo de Campo:</label>
                        <select name="tipo_campo" id="tipo_campo" class="form-control" onchange="mostrarOpciones()">
                            <option value="texto">Texto</option>
                            <option value="checkbox">Checkbox</option>
                            <option value="select">Desplegable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="opciones" style="display:none;">
                            <label>Opciones:</label>
                            <button class="btn btn-custom" type="button" onclick="agregarOpcion()">Agregar Opción</button>
                            <div id="opciones-container"></div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-custom btn-block" type="submit" name="agregar">Agregar Campo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3 text-center py-5">
        <div class="card">
            <div class="card-header">
                <span>Campos Actuales</span>
            </div>
            <div class="card-body">
                <div id="tableView">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- Encabezados de las columnas de la tabla -->
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Itera sobre las incidencias y las muestra en la tabla -->
                            {% for campo in campos %}
                            <tr id="incidencia-{{ incidencia.id }}">
                                <td>{{ campo.id }}</td> <!-- ID de la incidencia -->
                                <td>{{ campo.nombre }}</td> <!-- Nombre de la incidencia -->
                                <td>{{ campo.tipo }}</td> <!-- Estado de la incidencia -->
                                <td>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="hidden" name="campo_id" value="{{ campo.id }}">
                                            <button class="btn btn-custom" type="submit" name="eliminar">Eliminar</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
    function mostrarOpciones() {
        var tipoCampo = document.getElementById('tipo_campo').value;
        var opcionesDiv = document.getElementById('opciones');
        if (tipoCampo === 'checkbox' || tipoCampo === 'select') {
            opcionesDiv.style.display = 'block';
        } else {
            opcionesDiv.style.display = 'none';
            document.getElementById('opciones-container').innerHTML = ''; // Limpiar opciones anteriores
        }
    }

    function agregarOpcion() {
        var opcionesContainer = document.getElementById('opciones-container');
        var nuevaOpcion = document.createElement('div');
        nuevaOpcion.innerHTML = '<input type="text" name="opcion_nombre[]" placeholder="Nombre de la opción" class="form-control my-2">' +
                                '<input type="text" name="opcion_valor[]" placeholder="Valor de la opción" class="form-control mb-2">';
        opcionesContainer.appendChild(nuevaOpcion);
    }
    </script>
</div>
{% endblock %}
