{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'dashboard/css/style_formulario.css' %}" 
    />
    <title>Formulario</title>
  </head>

  <body>
    <header class="header">
      <div class="logo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/2228/2228497.png"
          alt="Logo Municipalidad"
        />
        <a href="#">Municipalidad</a>
      </div>

      <div class="user">
        <img
          src="https://icons.veryicon.com/png/o/miscellaneous/icon-the-back-office-management-system/administrator-role-management.png"
          class="user-pic"
          alt="Usuario"
        />
      </div>
    </header>

    <main class="main-container">
      <aside class="sidebar">
        <ul>
          <li>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'incidencias' %}">Incidencias</a>
            <a href="{% url 'formulario' %}">Formulario</a>
          </li>
        </ul>
      </aside>
      <section class="content">
        <div class="form-container">
          <form id="formulario" method="POST">
            <h2>Formulario</h2>

            <div>
              <label for="titulo"
                >Titulo del campo:[ESTO VERA EL USUARIO]</label
              >
              <input
                type="text"
                id="titulo"
                placeholder="Titulo para los registros"
              />
            </div>

            <div>
              <label for="nombree"
                >Nombre del campo:[ESTE SE AGREGARA A LA BD]</label
              >
              <input
                type="text"
                id="nombree"
                placeholder="Texto visible para el usuario"
              />
            </div>
            <div id="option">
              <label for="opcion">Tipo de campo </label>
              <select id="opcion">
                <option value="texto">Texto</option>
                <option value="numero">Numeros</option>
                <option value="estado">Activo/Inactivo</option>
              </select>
            </div>
            <button type="button" id="btnAgregar" onClick="">
              Visualizar campo
            </button>

            <button type="button" id="btnEnviar" onClick="tomarAtributo()">
              Enviar
            </button>
          </form>
        </div>
      </section>

      <!-- aca empieza el cuadro de eliminar campos-->
      <section class="content">
        <div class="form-container">
          <form id="form-eliminar" method="POST" action="{% url 'Eliminar_columna' %}">
            {% csrf_token %}
            <h2>Eliminar campo</h2>
            <div id="option">
              <label for="eliminar">texto </label>
              <select id="eliminar" name="eliminar">
                {% if columnas %} {% for columna in columnas %}
                <option value="{{ columna }}">{{ columna }}</option>
                {% endfor %} {% else %}
                <option>No hay columnas disponibles</option>
                {% endif %}
              </select>
              <button type="submit" id="btnEliminar">
                Eliminar
              </button>
            </div>
          </formulario>
        </div>
      </section>
    </main>
    <script src="{% static 'dashboard/js/Formulario.js' %}"></script>

    <script src="{% static 'js/tomarAtributo.js' %}"></script>
    <script>
      const urlCrearAtributo = "{% url 'crear_atributo' %}";
      function ejecutarFunciones() {
        getCookie(name);
        tomarAtributo();
      }
    </script>
  </body>
</html>
