{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_dashboard_director.css' %}">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <title>Dashboard</title>
</head>
<body>
        <header class="header">
            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/512/2228/2228497.png" alt="Logo Municipalidad">
                <a href="#">Municipalidad</a>
            </div>
            <div class="user">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/icon-the-back-office-management-system/administrator-role-management.png" class="user-pic" alt="Usuario"
                id="Usuario">
            </div>
        </header>

        <main class="main-container">
            <aside class="sidebar">
                <ul>
                    <li>
                        <a href="{% url 'director:dashboard' %}">Dashboard</a>
                        <a href="{% url 'director:incidencias' %}">Incidencias</a>
                        <a href="{% url 'director:crear_formulario' %}">Formulario</a>
                    </li>
                </ul>
            </aside>
            <section class="content">
                <div class="container-box">
                    <div class="col-md-6">
                        <h2>Incidencias</h2>
                    </div>
                    <table class="dashboard-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titulo</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in incidencia %}
                            <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.titulo_Incidencia }}</td>
                            <td>{{ i.latitud }}</td>
                            <td>{{ i.longitud }}</td>
                            <td>{{ i.estado }}</td>
                            <td>{{ i.fecha_Reporte }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    {{map|safe}}
                </div>

            </section>
        </main>
</body>
</html>