<!-- maxi -->
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Administrador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <!-- Barra de navegación superior -->
        <nav class="navbar navbar-expand-lg fixed-top custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="{{ logo }}" alt="Logo Municipalidad" class="logo">
                    <span class="ms-2" >{{ nombre_municipalidad }}</span>
                </a>
                <div class="d-flex align-items-center ms-auto">
                    <span class="navbar-text">{{ user_name }}</span>
                    <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="Icono Usuario" class="user-icon">
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="col-md-9 ">
    <div class="container">
        <h2 class="header-text">Seleccione una operación a realizar</h2>
    </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 text-center">
            <div class="col">
                <a href="{% url 'adm_actualizar_logo' %}" class="card h-100 text-decoration-none shadow-sm">
                    <img src="https://www.svgrepo.com/show/73131/edit-button.svg" class="card-img-top mx-auto mt-3"
                        alt="editar">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-primary">Actualizar logo</h5>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'adm_gestion_usuarios' %}" class="card h-100 text-decoration-none shadow-sm">
                    <img src="https://www.svgrepo.com/show/486504/user-management-filled.svg"
                        class="card-img-top mx-auto mt-3" alt="gestion">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-primary">Gestión de usuarios</h5>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'adm_ticket' %}" class="card h-100 text-decoration-none shadow-sm">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeujOaRWnmiTkG15-RkZrieVZ_JKumVf1CPQ&s"
                        class="card-img-top mx-auto mt-3" alt="notificaciones">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-primary">Tickets</h5>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'registro-auditoria' %}" class="card h-100 text-decoration-none shadow-sm">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQforQ_2ChYPq7yKFMF5s7qWGlZ0uQ8iIGU6Q&s"
                        class="card-img-top mx-auto mt-3" alt="auditoria">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-primary">Registros de auditoría</h5>
                    </div>
                </a>
            </div>
        </div>

    </main>

    <footer class="footer text-center py-4">
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
</body>

<!-- Enlace a jQuery y Bootstrap JS -->

<!-- Leaflet JS -->