#chatUsuario {
  width: 85%;
  height: 80%;
  align-self: center;
  justify-items: center;
  max-height: 80% !important;
}

#appUsuario {
  width: 100%;
  height: 100%;
}

.msj-recibido {
  max-width: 40%;
  border-radius: 25px;
  border-style: solid;
  background-color: white;
  padding: 5px;
  margin: 5px;
  align-items: flex-start;
}
.msj-enviado {
  max-width: 40%;
  border-radius: 25px;
  border-style: solid;
  background-color: white;
  padding: 5px;
  margin: 5px;
  align-self: flex-end;
}

#bodyChat {
  padding: 10px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  max-height: 700px !important;
}

.msg-time {
  display: block;
  font-size: 0.8rem;
  color: gray;
  margin-top: 3px;
}

.inBoton {
  width: 100%;
  display: flex;
}
.inputChat {
  width: 100%;
  border-radius: 30px;
}
.botonEnvio {
  border-radius: 50%;
  background-color: rgb(178, 204, 235);
}

.pChat {
  margin: 0 !important;
  background-color: aliceblue;
  font-size: 18px;
  font-weight: 600;
  font-style: oblique;
}
