.soportebar {
  background-color: #2c3e50; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  display: flex; /* Diseñar en columna */
  flex-direction: column;
  height: 100vh; /* Toda la altura del viewport */
  width: 250px; /* Ajusta el ancho deseado para la barra */
  position: fixed; /* Fijarla en el lado izquierdo de la pantalla */
  top: 0;
  left: 0;
  overflow-y: auto; /* Permitir scroll si hay contenido adicional */
}

.logo {
  width: 100%;
  height: auto;
}

.logo-text {
  color: white !important;
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  display: flex;
  margin-bottom: 0 !important;
  width: 100%;
}

.sidebar-menu {
  margin-top: 20%;
  list-style: none;
  padding: 10px;
  border-style: double;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  border-style: double;
  text-align: left;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #34495e;
  padding-left: 10px;
  transition: 0.3s;
}

.sidebar-item a {
  text-decoration: none;
  color: inherit;
}

.logo-text {
  display: flex;
}

.textItem {
  display: flex;
  align-items: center;
}

.textoS {
  align-self: center;
  margin-bottom: 0 !important;
  margin-left: 5px;
}
