/* ===== Variables de CSS ===== */
:root {
    --color-primario: #315579dc; /* Cambiado */
    --color-secundario: #b0ceeca4; /* Cambiado */
    --color-texto: #202d3a; /* Igual */
    --color-fondo: #c4def862; /* Cambiado */
    --color-fondo-claro: #c1c8cfdc; /* Cambiado */
    --transicion: 0.3s ease;
}

body {
    font-family: Serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}
.custom-navbar {
    background: linear-gradient(90deg, #1f3449, var(--color-primario));
    color: white;
    padding: 10px 20px;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-fondo-claro);
    text-decoration: none;
}

.custom-navbar .navbar-text {
    color: var(--color-fondo-claro);
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.user-icon {
    height: 30px;
    width: 30px;
}
#contenidoPrincipal {
    margin-top: 80px;
}

main{
    padding: 20px;
    margin-top: 30px;

}

h2 {
    color: #005073;
}

.table {
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #005073;
    border-color: #005073;
}

.btn-2{
    background-color: #005073;
    border-color: #005073;
    margin-right: 600px; 
    color: #ffffff;
}
.btn-2-1{
    background-color: #005073;
    border-color: #005073;
    margin-right: 10px; 
    white-space: nowrap;
}
.boton-a{
    background-color: #005073;
    border-color: #000000;
    margin-right: 10px; 
}


.boton-b{
    background-color: #5a6b73;
    border-color: #5d6e75;
}

.btn-info{
    background-color: #00ff59;
    border-color: #005073;
    color: #000000;
}

.boton-desplegable{
    height: 35px;
    width: 35px;
    font-size: 15px;
    border-radius: 5px;
}
.btn-editar{
    background-color: #266fdc;
    border-color: #005073; 
    width: 100px;
}
.btn-eliminar{
    background-color: #d21111;
    border-color: #005073; 
    width: 100px;
}
.btn-eliminar:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 

}
.btn-editar:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 
}
.btn-2:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 
}

.btn-2-1:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 
}

