* {
  box-sizing: border-box;
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #e6f7ff;
  font-family: Serif !important;
}

.App {
  display: flex;
  height: 100%;
}

.content {
  display: flex;
  width: 100%;
  background-color: #e6f7ff;
}

.todoApp {
  width: 100%;
  height: 100%;
  align-content: center;
  justify-self: center !important;
}

.sidebar {
  background: linear-gradient(180deg, #1f3449, #315579) !important;
  width: 17%;
  height: 100%;
  display: flex !important;
}

h2 {
  color: white !important;
  margin-bottom: 0 !important;
}
