.card {
  width: 85%;
  display: flex;
}

.card-body {
  background-color: rgb(212, 211, 213);
  justify-items: center;
  padding: 0 !important;
}
.card-header {
  text-align: center;
  background-color: #2c3e50 !important;
  font-style: oblique;
  font-size: large;
  font-size: 50px;
  color: white;
}

.secciones {
  width: 95%;
  justify-items: center;
  padding: 30px;
  height: max-content;
}
.seccion1,
.seccion2,
.seccion3,
.seccion4 {
  margin-bottom: 10px;
}

.subtituloSec {
  font-size: 20px;
  font-style: oblique;
  font-weight: 1000;
}

.textoUser {
  padding: 10px;
  width: 100%;
  font-size: 25px;
  font-weight: 550;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  height: max-content;
  background-color: rgb(178, 204, 235);
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

.textoInc {
  padding: 10px;
  width: 100%;
  font-size: 25px;
  font-weight: 550;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  height: max-content;
  background-color: rgb(178, 204, 235);
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

.textoInf {
  padding: 10px;
  width: 100%;
  font-size: 25px;
  font-weight: 550;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  height: max-content;
  background-color: rgb(178, 204, 235);
  display: flex;
  font-family: "Times New Roman", Times, serif;
}
.textoDat {
  padding: 10px;
  width: 100%;
  font-size: 25px;
  font-weight: 550;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  height: max-content;
  background-color: rgb(178, 204, 235);
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

.todoApp {
  justify-items: center;
}
