.card{
    
    width: 85%;
    display: flex;
    

}

.card-body{
    background-color: rgb(224, 214, 231);
    justify-items: center;
    padding: 0 !important;
}
.card-header{
    text-align: center;
    color: black;
    font-style: oblique;
    font-size: large;
    font-size: 50px;
    background-color: rgb(215, 190, 233) !important;
}

.secciones{  
    
    width: 90%;
    justify-items: center;
    padding: 30px;
    height: max-content;
}
.seccion1, .seccion2 , .seccion3, .seccion4{
    margin-bottom: 10px;
}

.subtituloSec{
    font-size: 20px;
    font-style: oblique;
    font-weight: 1000;
}

.textoUser{
    padding: 10px;
    width: 100%;
    font-size: 25px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    height: max-content;
    background-color: rgb(173, 164, 219);
    display: flex;
}

.textoInc{
    padding: 10px;
    width: 100%;
    font-size: 25px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    height: max-content;
    background-color: rgb(173, 164, 219);
    display: flex;
}

.textoInf{
    padding: 10px;
    width: 100%;
    font-size: 25px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    height: max-content;
    background-color: rgb(173, 164, 219);
    display: flex;
}
.textoDat{
    padding: 10px;
    width: 100%;
    font-size: 25px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    height: max-content;
    background-color: rgb(173, 164, 219);
    display: flex;
}

.todoApp{
    justify-items: center;
}