.textoGen{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtituloGen{
    font-size: 20px;
    font-style: oblique;
    font-weight: 1000;
}