<!-- templates/enviar_correo.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enviar Correo</title>
</head>
<body>
    <h1>Enviar Correo Electrónico</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="email">Correo del Destinatario:</label>
        <input type="email" name="email" required>
        <br>
        <label for="asunto">Asunto:</label>
        <input type="text" name="asunto" required>
        <br>
        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" rows="5" required></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
