/* ===== Variables de CSS ===== */
:root {
    --color-primario: #315579dc; /* Cambiado */
    --color-secundario: #b0ceeca4; /* Cambiado */
    --color-texto: #202d3a; /* Igual */
    --color-fondo: #c4def862; /* Cambiado */
    --color-fondo-claro: #c1c8cfdc; /* Cambiado */
    --transicion: 0.3s ease;
}

body {
    font-family: Serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}
.custom-navbar {
    background: linear-gradient(90deg, #1f3449, var(--color-primario));
    color: white;
    padding: 10px 20px;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-fondo-claro);
    text-decoration: none;
}

.custom-navbar .navbar-text {
    color: var(--color-fondo-claro);
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.user-icon {
    height: 30px;
    width: 30px;
}
#contenidoPrincipal {
    margin-top: 80px;
}

main{
    padding: 20px;
    position: relative;
    left: 180px;
}

.header-text {
    margin-top: 70px;
    text-align: center;

}
.card {
    border: none;
    border-radius: 20px;
}

.card img {
    width: 100px;
    height: auto;
}

.card-title {
    font-size: 1.1rem;
    color: var(--color-primario);
}

.row-cols-lg-4 {
    margin-top: 50px;
}

footer {
    background-color: #e6f7ff;
    color: #005073;
    font-size: 12px;
    border-top: 100px solid #e6f7ff;
}

