body {
    font-family: Serif;
    background-color: #e6f7ff;
}

.navbar {
    background-color: #0d639c;
    
}
.navbar-brand {
    color: #ffffff !important; 
    font-size: 30px;
}

.navbar-brand img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.nav-link {
    color: #ffffff !important; 
    font-size: 18px;
}

.nav-link img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

main{
    padding: 20px;
    position: relative;
    left: 180px;
}
.card {
    cursor: pointer;
    width: 250px;
    align-items: center;
    border-radius: 30px;
    
}

.card-title {
    color: #005073;
}

.card img {
    color: #005073;
    width: 150px;
    height: 150px;
}

.text-decoration-none {
    text-decoration: none;
}

footer {
    background-color: #e6f7ff;
    color: #005073;
    font-size: 12px;
    border-top: 100px solid #e6f7ff;
}

