body {
    font-family: Serif;
    background-color: #e6f7ff;
}

.navbar {
    background-color: #0d639c;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 30px;
}

.navbar-brand img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.nav-link {
    color: #ffffff !important;
    font-size: 18px;
}

.nav-link img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

h2 {
    color: #005073;
}

.table {
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #005073;
    border-color: #005073;
}

.btn-2{
    background-color: #005073;
    border-color: #005073;
    margin-right: 600px; 
    color: #ffffff;
}
.btn-2-1{
    background-color: #00ff59;
    border-color: #005073;
    margin-right: 10px; 
    white-space: nowrap;
}
.boton-a{
    background-color: #00ff59;
    border-color: #005073;
    margin-right: 10px; 
}


.boton-b{
    background-color: #0aaff5;
    border-color: #005073;
}

.btn-info{
    background-color: #00ff59;
    border-color: #005073;
    color: #000000;
}

.boton-desplegable{
    height: 35px;
    width: 35px;
    font-size: 15px;
    border-radius: 5px;
}
.btn-editar{
    background-color: #266fdc;
    border-color: #005073; 
    width: 100px;
}
.btn-eliminar{
    background-color: #d21111;
    border-color: #005073; 
    width: 100px;
}
.btn-eliminar:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 

}
.btn-editar:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 
}
.btn-2:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 
}

.btn-2-1:hover{
    background-color: #2f4e9cb6;
    border-color: #005073;
    color: #ffffff; 
}

