*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
  }

.App {
    display: flex; /* Usar flexbox para la distribución */
    height: 100vh; /* Altura total de la ventana */

  }

.content {
    display: flex;
    width: 100%;
    background-color: rgb(165, 192, 216);
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 40vh;
}

.todoApp{
  align-content: center;
}

