/* ===== Variables de CSS ===== */
:root {
    --color-primario: #315579dc; /* Cambiado */
    --color-secundario: #b0ceeca4; /* Cambiado */
    --color-texto: #202d3a; /* Igual */
    --color-fondo: #c4def862; /* Cambiado */
    --color-fondo-claro: #c1c8cfdc; /* Cambiado */
    --transicion: 0.3s ease;
}

body {
    font-family: Serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}
.custom-navbar {
    background: linear-gradient(90deg, #1f3449, var(--color-primario));
    color: white;
    padding: 10px 20px;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-fondo-claro);
    text-decoration: none;
}

.custom-navbar .navbar-text {
    color: var(--color-fondo-claro);
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.user-icon {
    height: 30px;
    width: 30px;
}
#contenidoPrincipal {
    margin-top: 80px;
}

main{
    padding-top: 30px;
    margin-top: 40px;

} 

.logo-container {
    display: flex;
    align-items: center;
}


/* Botón flotante */
.btn-float {
    background-color: #315579dc;
    position: fixed;
    color: #fffafa;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.icono-btn {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Barra lateral */
.sidebar {
    background-color: #b0ceeca4;
    height: 100vh;
}

.sidebar .nav-link,
.sidebar .nav-sel {
    font-size: 1.1rem;
    font-weight: bold;
    color: #202d3a;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid #2c3e50;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.sidebar .nav-sel {
    background-color: #b0ceec;
}

.sidebar .nav-link:hover {
    background-color: #b0ceec;
}

/* Estilos de la tarjeta y tabla */
.card-header {
    background-color: #c4def86e;
    font-weight: bold;
    color: #202d3a;
}

.card-body ul {
    border-radius: 10px;
    list-style-type: none;
    padding-left: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    border-bottom: none;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones personalizados */
.btn-detalle {
    background-color: #b0ceec;
    border: none;
    color: #315579;
    padding: 5px 10px;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 5px;
}

.btn-detalle:hover {
    background-color: #b0ceec7e;
}

.btn-custom {
    background-color: #0056b3; /* Cambia este código de color al que desees */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
}

.btn-custom:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

.btn-custom1 {
    background-color: #0056b3; /* Cambia este código de color al que desees */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
}

.btn-custom1:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

.btn-custom2 {
    background-color: #a01919; /* Cambia este código de color al que desees */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
}

.btn-custom2:hover {
    background-color: #a01919; /* Color más oscuro al pasar el cursor */
}
.btn-custom3 {
    background-color: #0056b3; /* Cambia este código de color al que desees */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
}

.btn-custom3:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}
.hola{
    padding-top: 10px;
}

.btn-custom4 {
    background-color: #0056b3; /* Cambia este código de color al que desees */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
}

.btn-custom4:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

.coco{
    padding-top: 100px;
}